body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-fixed-top a{
  color: black;
}
.text-white
{
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.text-white button {
  border: none;
  padding: 10px 25px;
  color: black;
  background-color: white;
  cursor: pointer;
}
